.btn-custom{
    background-color: #008c9c !important;
    color: white !important;
}
.btn-custom:hover{
    background-color: #52b9c5 !important;
}
.card-background{
    background-color: white !important;
    border: none !important;
    border-radius: 15px !important;
}