.loading_div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 85vh;
  align-items: center;
}
.loading {
  width: 20%;
  height: 45%;
}

@media (max-width: 600px) {
  .loading {
    width: 50%;
    height: 30%;
  }
}
