:where(.css-dev-only-do-not-override-17gkgmp).ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  background-color: #f7f7fa !important;
  border-color: #008c9c;
}
:where(.css-dev-only-do-not-override-17gkgmp).ant-tree-show-line
  .ant-tree-switcher {
  background: #f7f7fa !important;
}
:where(.css-dev-only-do-not-override-bqy7u8).ant-tree-show-line
  .ant-tree-switcher {
  background: #f7f7fa !important;
}
.details-tabs {
  padding: 0px 15% !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #616161;
  background-color: #f7f7fa !important;
  border-color: #f7f7fa #f7f7fa #fff;
}
.ant-tree-list-holder-inner {
  background-color: #f7f7fa !important;
}
:where(.css-dev-only-do-not-override-iwv6df).ant-tree-show-line
  .ant-tree-switcher {
  background-color: #f7f7fa !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #008c9c !important;
  border-color: #008c9c !important;
}
.load-bar {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #008c9c;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #fff701;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fff701;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
  from {
    left: 0;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}
.search-page-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.ikhnzg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 6px;
  font-size: 12px;
  font-weight: 700;
}
.first-courousal > .carousel-inner {
  width: 95%;
}
.first-courousal {
  display: flex;
  justify-content: space-around;
  width: 95%;
}
.second_courousal > .carousel-inner {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: space-around;
}

.bkCSpq {
  margin-left: 5px;
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;
  min-width: 0px;
  max-height: 33px;
  cursor: pointer;
  border-width: 2px;
  border-color: rgb(56, 102, 223);
  border-style: solid;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.2s ease-in-out 0s;
}
.filter-options-container {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  flex-basis: 20%;
  height: fit-content;
}

.filter-options-container h3 {
  margin-bottom: 20px;
}

.search-page-product-container {
  background-color: rgb(235, 235, 235);
  padding-top: 20px;
  padding-bottom: 20px;
  flex-basis: 76%;
}

.search-product-container {
  margin: 35px 26px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
}

.clear-filter-btn {
  background-color: #f0c040;
  border-radius: 4px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  outline: 0;
  margin-bottom: 40px;
}
.main-div-filter {
  margin-top: 1.5rem !important;
}
.filters-searched {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .filters-searched {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
  }
  .search-page-container {
    margin: 0px !important;
    flex-direction: column;
  }
  .filter-options-container {
    margin-bottom: 30px;
  }

  .search-product-container {
    margin: 0px !important;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 0px 0px !important; */
  }

  .search-page-container .sec-title {
    margin: 0px !important;
  }

  .filter-options-container h3 {
    margin-bottom: 10px;
    margin-top: 8px;
  }
}
@media (max-width: 600px) {
  .details-tabs {
    padding: 0px !important;
  }
  .filter-options-container {
    display: none !important;
  }
  .small-courousal {
    display: none !important;
  }
  .match-ready-merch {
    display: none !important;
  }
  .first-courousal {
    display: none !important;
  }
  .search-count {
    display: none;
  }
  .search-filter {
    margin-bottom: 20px;
    width: 100% !important;
  }
  .filter-name {
    display: none !important;
  }
  .search-page-product-container {
    background-color: rgb(235, 235, 235);
    padding-top: 0px;
    padding-bottom: 20px;
    flex-basis: 76%;
  }
  .main-div-filter {
    margin-top: 0px !important;
  }
  .slick-next {
    display: none !important;
  }
  .slick-prev {
    display: none !important;
  }
  .discription-desktop {
    height: 44%;
    width: 100%;
    display: none !important;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
  }
  .discription-mobile {
    height: 50%;
    width: 100%;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
  }
  .mobile-discription {
    display: flex !important;
    flex-direction: column !important;
  }
  .details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 26% !important;
  }
  .mobile-ratings {
    display: flex;
    justify-content: space-between;
  }
  .product > img {
    height: 162px !important;
    width: 260px;
  }
  .title-stroked {
    text-decoration: line-through;
    font-size: 12px;
    text-align: left;
    color: grey;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 10px;
  }
  .product {
    border-radius: 5px;
    position: relative;
    /* width: 185px !important; */
    height: 300px !important;
    background-color: white;
    /* margin-bottom: 10px; */
  }
  .disc-mobile {
    display: block;
  }
  .disc-desktop {
    display: none;
  }
  .rating {
    display: flex;
    justify-content: center;
    height: 15px;
    font-size: 12px;
    background-color: #008c9ce0;
    width: 35px !important;
    border-radius: 15px;
    color: white;
    /* padding: 1px; */
    margin-left: 19px !important;
  }
  .discountrate {
    width: 65% !important;
  }
}
